<header class="py-3 text-center">
    <h2>{{title}}</h2>
</header>

<div class="container card bg-{{gradeColor}} text-white text-center">
    <div class="card-body">
        <h3>{{grade}}%</h3>
        {{#if weights}}<span class="weight-label">Total Weight: {{weights}}%</span>{{/if}}
    </div>

</div>

<br>
